<!DOCTYPE html>
<html>
  <head>
    <title>Training Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <iframe width="270" height="160" src="https://www.youtube.com/embed/fZ_8XRKtYMQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="270" height="160" src="https://www.youtube.com/embed/88VxdkBpiFE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <iframe width="270" height="160" src="https://www.youtube.com/embed/ikKG260TMwU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <%= yield %><br>
    

  </body>
  
</html>
